%html
  %head
    %title Create User
  %body
    %form(action='/signup' method='post')
      %label User Name:
      %input(type='text' name='name')
      %br
      %label Email Address
      %input(type='text' name='email')
      %br
      %label Password:
      %input(type='password' name='password')
      %br
      %input(type='submit' value='Create User')


