%html
  %head
    %title Reserve a boat
  %body
    %form(action='/reservation' method='post')
      %label
        Boat:
        - Boat.all.each do |boat|
          = boat.select "Boat Name" [boat.id, boat.name]
      %br
      %label
        Start Time
      %input(type='text' name='start_time')
      %br
      %label
        End Time:
      %input(type='text' name='end_time')
      %br
      %input(type='submit' value='Reserve Boat')


